body{
    margin: 10px;
} 
.header, .footer{
    display: flex;
    height: 100px;
    background: #4290e2;
    color: #fff;
    margin: 10px;
    justify-content: center;
    align-items: center;
    color: white;
}
.page-content {
    display: flex;
    flex: 1;
    align-content: space-between;
    background-color: #f7f7f7;
    border-radius: 3px;
}

.articles-list {
    display: flex;
    flex-direction: column;
    flex: 1;
    order: 2;
    color: #000; 
}
.featured-article {
    margin: 10px;
    background-color: #4290e2;
    text-align: center;
    color: white;
}

.sub-stories {
    margin: 10px;
    background-color: #4290e2;
    color: white;
    text-align: center;
}
.side-bar-right .side-bar {
    display: flex;
    margin: 10px;
    background-color: #4290e2;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-bar-left .side-bar {
    display: flex;
    margin: 10px;
    background-color: #4290e2;
    justify-content: center;
    align-items: center;
    color: white;
}

.side-bar-right {
    display: flex;
    flex-direction: column;
    order: 3;
    width: 20%;
}

.side-bar-left {
    display: flex;
    flex-direction: column;
    order: 1;
    width: 20%;
}